body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-menu .ant-menu-item {
  color: rgb(185, 185, 185) ;
}


.custom-menu .ant-menu-item:hover,
.custom-menu .ant-menu-item-active {
  color: rgb(206, 199, 199) !important ;
}
